#header{
	border: 2px solid;
	height: 200px;
	width: 65%;
	margin-top: 100px;
	margin-left: 10%;
	background-color: #FFEBCD;
	overflow:  hidden;
}

#LickL{
	border: 2px solid;
	height: 490px;
	width: 40%;
	margin-top: 35px;
	margin-left: 10%;
	float: left;
	padding: 0;
	background-color: #FFEBCD;
}

#LickR{
	border: 2px solid;
	height: 490px;
	width: 20%;
	margin-top: 35px;
	margin-right:25%;
	float: right;
	padding: 0;
	background-color: #FFEBCD;
}

#Footer{
	border: 2px solid;
	height: 50px;
	width: 65%;
	margin-top: 35px;
	margin-left: 10%;
	float: left;
	background-color: #FFEBCD;
}

h1{
	color: 000000;
	font-size: 1.5em;
	font-weight: bold;
}

h2{
	color: 000000;
	font-size: 1.3em;
	font-weight: bold;
}

p{
	font-size: 1em;
}

#right {
	color: 000000;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}







